body {
    background-image: linear-gradient(180deg, lightslategray, #00011f);
    color: white;
    font-family: 'Trebuchet MS';
    overflow-wrap: normal;
    /* I want to eventually fix the gradient to the viewport 
    so that the gradient stays while scrolling instead of moving with the content */
}

a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover {
    color: #800020
}

p {
    margin: 0;
    padding: 0;
}

/* HEADER */
/*h1*/
header h1 {
    font-size: 5em;
    font-family: 'Palatino Linotype';
    font-weight: lighter;
    margin-bottom: 0;
    line-height: 0.8;    
}
/*p*/
header p {
    margin-top: 0; 
}
/*nav*/
    /* would at some point like a dynamic navigation */
header nav ul{
    list-style-type: none;
}
header nav li a {
    color: white;
}
/* HEADER END */

/* WORK_EXPERIENCE */
#workexperience article h4 {
    margin-bottom: 0;
    box-sizing: border-box;
}
#workexperience ul {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    box-sizing: border-box;
}
/* WORK_EXPERIENCE END */

/* ABOUT_ME */
#motto {
    font-family: 'Palatino Linotype';
    width: fit-content;
    margin-left: 6%;
    margin-bottom: 0;
}
/* ABOUT_ME END */
